#createEventButton {
    background-color: var(--blue1);
    color: var(--white1);
    text-align: center;
    text-decoration: none;

    width: 20vw;

    padding: 10px;

    font-size: 1em;

    border: none;
    outline: none;
    cursor: pointer;

    border-radius: 10px;

    transition: all 0.2s ease-in-out;
}

#createEventButton:hover {
    background-color: var(--blue2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.topBar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
}

.event-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-left: 8px;
    padding-right: 8px;
}

.event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    padding-left: 18px;
    padding-right: 18px;

    color: var(--textColor);
    border-color: var(--white2);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: var(--white3);
}

.event:first-child {
    margin-top: 20px;
}

.event-title {
    font-size: 1.75em;
    color: var(--blue1);
    text-decoration: none;

    padding: 4px 0 4px 0;

    padding-bottom: 50px;
}

.event-title:hover {
    color: var(--blue2);
}

.event-left {
    width: 60%;
    align-items: flex-start;
    gap: 10px;
}

.event-middle {
    width: 15%;
    font-size: 1.025em;
}

.event-right {
    text-align: right;
    align-items: flex-end;
    gap: 5px;
    font-size: 1.05em;
}

.event-timestamp {
    font-size: 1.1em;
}

.event-button {
    background-color: var(--white2);
    color: var(--textColor);
    text-align: center;
    text-decoration: none;

    width: max-content;

    padding: 10px;

    font-size: 0.9em;

    border: none;
    outline: none;
    cursor: pointer;

    border-radius: 10px;

    transition: all 0.2s ease-in-out;
}

.event-button:hover {
    background-color: var(--white1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
    .container {
        padding: 20px;
    }

    #createEventButton {
        width: calc(100% - 20px);
        font-size: 1em;
        padding: 14px 0;
        border-radius: 8px;
    }

    .topBar {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        padding: 6px 2vw;
    }

    .event-list {
        gap: 7px;
        padding: 0 2vw;

        padding-left: 2px;
        padding-right: 2px;
    }

    .event {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 4px;
        gap: 4px;
        border-width: 2px;

        padding: 10px;

        margin-bottom: 10px;
    }

    .event-title {
        font-size: 1.05em;
        word-break: break-word;
    }

    .event-left, .event-middle, .event-right {
        width: 100%;
        text-align: left;
        margin-bottom: 4px;
        font-size: 0.97em;
    }

    .event-timestamp {
        font-size: 1em;
    }
}

.container {
    margin-top: 0;
}